:root {
  color-scheme: light dark;

  --light-text: #33230a;
  --light-bg: #f8ede2;
  --light-primary: #67422d;
  --light-secondary: #d5af95;
  --light-accent: #fbc39d;

  --dark-text: #f5e5cc;
  --dark-bg: #1d1207;
  --dark-primary: #d2ad98;
  --dark-secondary: #6a442a;
  --dark-accent: #622a04;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Menu container */
.menu-container {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: light-dark(var(--light-text), var(--dark-text));
}

/* Filter container */
.filter-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-container button {
  background-color: light-dark(var(--light-primary), var(--dark-primary));
  color: light-dark(var(--light-bg), var(--dark-bg));
  /* border: 1px solid light-dark(var(--light-secondary), var(--dark-secondary)); */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.filter-container button:hover {
  background-color: light-dark(var(--light-text), var(--dark-text));
}

button.active {
  background-color: light-dark(var(--light-accent), var(--dark-accent));
}

/* Menu items container (grid layout) */
.menu-grid {
  margin: 0;
  padding: 0;
  list-style-type: none; /* Remove bullet points */
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create a 3-column layout */
  gap: 20px; /* Add spacing between items */
  width: 80vw;
}

/* Responsive: Single column for small screens */
@media (max-width: 768px) {
  .menu-grid {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Add spacing between items */
  }
}
/* Menu item text styling */
.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 1rem;

  font-size: 1.2rem;
  margin: 0;
  padding: 1rem;
  background-color: light-dark(var(--light-accent), var(--dark-accent));
  /* border: 2px solid light-dark(var(--light-secondary), var(--dark-secondary)); */
  border-radius: 8px;
  border: 3px solid light-dark(var(--light-primary), var(--dark-primary));
}

.menu-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.price {
  font-weight: bold;
  padding: 3px 5px;
  border-radius: 2rem;
}

/* Optional: Add some margin at the bottom of the container */
.menu-container ul {
  margin-bottom: 20px;
}
