config/environment-variables/*prod.env
config/environment-variables/*test.env
config/environment-variables/*dev.env

packages/*/dist
**/node_modules
**/package-lock.json
packages/*/.env
# packages/*/.env.production -- This is allowed as it does not contain any actual data.
packages/*/.env.local
.vs

*.zip

app/.expo/
app/npm-debug.*
app/*.jks
app/*.p8
app/*.p12
app/*.key
app/*.mobileprovision
app/*.orig.*
app/web-build/

# macOS
app/.DS_Store
