<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Vesuvius menu card." />
  </head>

  <body>
    <%- include('../partials/topNav'); %>
    <div class="menu-container">
      <h1><%= title %></h1>

      <img
        class="theme-logo"
        src="/images/CaféVesuviusLogo2.svg"
        width="250"
        height="250"
        style="border-radius: 2rem"
        alt="Café Vesuvius logo"
      />
      <div class="links-container">
        <a href="tel:+0000000000">Ring to us</a>
        <a href="mailto:example@example.com">Contact us</a>
        <p>
          Address:
          <a href="https://maps.app.goo.gl/CtxDv2PSLgxggDVT9"
            >189 Pinewood Avenue, 49855 Marquette</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
