<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Vesuvius menu card.">
  <script src="main.js" defer></script>
</head>

<body>
  <div class="menu-container">
    <h1><%= title %></h1>

    <img src="/images/CaféVesuviusLogo.svg" width="250" height="250" style="border-radius: 2rem;" />
    <a href="tel:+0000000000">Ring to us</a>
    <a href="mailto:example@example.com">Contact us</a>
    <p>Address: <a href="https://maps.app.goo.gl/CtxDv2PSLgxggDVT9">189 Pinewood Avenue, 49855 Marquette</a></p>
  </div>
</body>

</html>
